@font-face {
  font-family: 'sans-serif-RalewayThinItalic';
  src:
    url('sans-serif-RalewayThinItalic.woff2') format('woff2'),
    url('sans-serif-RalewayThinItalic.woff') format('woff'),
    url('sans-serif-RalewayThinItalic.ttf') format('truetype');
  font-display: swap;
}
