@font-face {
  font-family: 'sans-serif-RalewayExtraLight';
  src:
    url('sans-serif-RalewayExtraLight.woff2') format('woff2'),
    url('sans-serif-RalewayExtraLight.woff') format('woff'),
    url('sans-serif-RalewayExtraLight.ttf') format('truetype');
  font-display: swap;
}
