APP_ENV=production
APP_DEBUG=false
APP_URL=https://api.responsive.sk

# Database
DB_CMS=data/cms.db
DB_JOBS=data/jobs.db

# Queue
QUEUE_CONNECTION=sqlite

# Cache
CACHE_DRIVER=file
TEMPLATE_CACHE_VERSION=1
