includes:
    - phpstan-baseline.neon

parameters:
    level: 9
    paths:
        - src/
    bootstrapFiles:
        - vendor/autoload.php
    excludePaths:
        - src/Infrastructure/Paths/AppPaths.php
        - src/Infrastructure/Persistence/DatabaseConnection.php
        - src/Templates/*
        - tests/
    reportUnmatchedIgnoredErrors: false
