parameters:
    level: 9
    paths:
        - src/
    bootstrapFiles:
        - vendor/autoload.php
    excludePaths:
        - src/infrastructure/Paths/AppPaths.php
        - src/infrastructure/Persistence/DatabaseConnection.php
        - tests/
    baseline:
        - phpstan-baseline.neon
