@font-face {
  font-family: 'sans-serif-RobotoCondensedBold';
  src:
    url('sans-serif-RobotoCondensedBold.woff2') format('woff2'),
    url('sans-serif-RobotoCondensedBold.woff') format('woff'),
    url('sans-serif-RobotoCondensedBold.ttf') format('truetype');
  font-display: swap;
}
