@font-face {
  font-family: 'serif-AbrilFatfaceRegular';
  src:
    url('serif-AbrilFatfaceRegular.woff2') format('woff2'),
    url('serif-AbrilFatfaceRegular.woff') format('woff'),
    url('serif-AbrilFatfaceRegular.ttf') format('truetype');
  font-display: swap;
}
