@font-face {
  font-family: 'sans-serif-RalewayExtraBoldItalic';
  src:
    url('sans-serif-RalewayExtraBoldItalic.woff2') format('woff2'),
    url('sans-serif-RalewayExtraBoldItalic.woff') format('woff'),
    url('sans-serif-RalewayExtraBoldItalic.ttf') format('truetype');
  font-display: swap;
}
