@font-face {
  font-family: 'sans-serif-RobotoMedium';
  src:
    url('sans-serif-RobotoMedium.woff2') format('woff2'),
    url('sans-serif-RobotoMedium.woff') format('woff'),
    url('sans-serif-RobotoMedium.ttf') format('truetype');
  font-display: swap;
}
