@font-face {
  font-family: 'sans-serif-OpenSansExtraBold';
  src:
    url('sans-serif-OpenSansExtraBold.woff2') format('woff2'),
    url('sans-serif-OpenSansExtraBold.woff') format('woff'),
    url('sans-serif-OpenSansExtraBold.ttf') format('truetype');
  font-display: swap;
}
