@font-face {
  font-family: 'sans-serif-RobotoBoldItalic';
  src:
    url('sans-serif-RobotoBoldItalic.woff2') format('woff2'),
    url('sans-serif-RobotoBoldItalic.woff') format('woff'),
    url('sans-serif-RobotoBoldItalic.ttf') format('truetype');
  font-display: swap;
}
